.main {
    background: url(../../../../assets/img/background.jpg) no-repeat center / cover;
    background-color: rgba(0, 0, 0, 0.25);
    height: 957px;
    font-family: Montserrat;
    font-weight: 800;
    width: 100%;

    @media (max-width: 1150px) {
        height: calc(920px - 4.5vh);
    }

    &__title {
        padding-top: 22.5%;
        font-weight: 500;
        color: #fff;
        font-size: 45px;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
        text-shadow: 0px 0px 12px #000000;
        overflow: hidden;
        align-items: center;


        animation: show_text 1.5s;

        @keyframes show_text {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @media (max-width: 1080px) {
            font-size: 33px;
        }

        @media (max-width: 945px) {
            font-size: 30px;
        }

        @media (max-width: 810px) {
            font-size: 27px;
            width: 500px;
        }

        @media (max-width: 560px) {
            font-size: 23px;
            max-width: 400px;
        }

        @media (max-width: 450px) {
            font-size: 19px;
            max-width: 350px;
        }

        @media (max-width: 410px) {
            font-size: 17px;
            max-width: 320px;
        }

        @media (max-width: 350px) {
            font-size: 16px;
            max-width: 250px;
        }
    }
}