@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

.main {

    &__modal {
        // display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.699);
        z-index: 500;
        animation: show_modal 0.3s;

        @keyframes show_modal {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }


    &__modalWindow {
        font-family: Montserrat;
        color: #fff;
        background-color: #000;
        margin: 5% auto;
        padding: 20px;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 9px;
        max-width: 1000px;

        @media (max-width: 1200px) {
            margin-right: 11%;
        }

        @media (max-width: 1100px) {
            margin-right: 11%;
        }

        @media (max-width: 840px) {
            margin-right: 12%;
        }

        @media (max-width: 720px) {
            margin-right: 15%;
        }
    }

    &__modalHeader {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

    }

    &__send {
        display: none;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    &__sendBox {
        color: #fff;
        background-color: #14aa00;
        margin: 2% auto;
        padding: 3px 15px;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        text-align: center;
        animation: formSend 0.5s;

        @keyframes formSend {
            from {
                margin-top: -120px;
            }

            to {
                margin: 2% auto;
            }
        }
    }

    &__sendText {
        color: #ececec;
        padding: 10px 0;
    }

    &__send-show {
        display: flex;
        position: fixed;
        top: 0;
        z-index: 1000;
        animation: hideMessage 0.5s both;

        @keyframes formSend {
            from {
                margin-top: -120px;
            }

            to {
                margin: 2% auto;
            }
        }
    }

    &__modalHeader {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__modalTitle {
        font-size: 35px;

        @media (max-width: 1000px) {
            font-size: 32px;
        }

        @media (max-width: 950px) {}

        @media (max-width: 870px) {
            font-size: 27px;
        }

        @media (max-width: 800px) {
            font-size: 27px;
        }

        @media (max-width: 650px) {
            font-size: 25px;
        }

        @media (max-width: 600px) {
            font-size: 22px;
        }

        @media (max-width: 590px) {
            font-size: 22px;
        }

        @media (max-width: 500px) {
            font-size: 22px;
        }

        @media (max-width: 430px) {
            font-size: 22px;
        }

    }

    &__modalClose {
        position: relative;
        left: 20%;
        font-size: 40px;
        text-align: start;

        @media (max-width: 580px) {
            left: 15%;
        }

        @media (max-width: 500px) {
            font-size: 33px;
        }

        @media (max-width: 430px) {
            font-size: 31px;
        }

        @media (max-width: 400px) {
            left: 9%;
            font-size: 31px;
        }
    }

    &__modalForm {
        margin-left: 15px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media (max-width: 820px) {
            margin-left: 3%;
            gap: 30px;
        }

        @media (max-width: 410px) {
            gap: 25px;
        }

    }

    &__modalFio {
        display: flex;
        gap: 35px;
        font-size: 20px;

        @media (max-width: 650px) {
            flex-direction: column;
        }

        @media (max-width: 410px) {
            gap: 25px;
        }
    }

    &__modalText {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;

        @media (max-width: 850px) {
            font-size: 18px;
        }

        @media (max-width: 650px) {
            font-size: 16.5px;
        }

        @media (max-width: 570px) {
            font-size: 14px;
        }


    }

    &__modalFioInput {
        color: #fff;
        background: none;
        border: 1px solid #777777;
        border-radius: 9px;
        font-family: Montserrat;
        padding: 15px;
        width: 350px;
        font-size: 15px;

        @media (max-width: 950px) {
            width: 300px;
        }

        @media (max-width: 850px) {
            font-size: 14px;
            width: 250px;
        }

        @media (max-width: 820px) {
            width: 225px;
        }

        @media (max-width: 650px) {
            width: 350px;
        }

        @media (max-width: 570px) {
            height: 43px;
        }

        @media (max-width: 500px) {
            font-size: 15px;
            width: 90%;
        }

    }

    &__modalInput {
        color: #fff;
        background: none;
        border: 1px solid #777777;
        border-radius: 9px;
        font-family: Montserrat;
        padding: 18px 158px 18px 18px;
        font-size: 15px;

        @media (max-width: 850px) {
            width: 550px;
        }

        @media (max-width: 820px) {
            width: 490px;
        }

        @media (max-width: 650px) {
            width: 350px;
        }

        @media (max-width: 570px) {
            height: 43px;
        }

        @media (max-width: 500px) {
            padding: 10px;
            font-size: 14px;
            width: 90%;
        }


    }

    &__modalSubtext {
        color: #fff;
        background: none;
        border: 1px solid #777777;
        border-radius: 9px;
        font-family: Montserrat;
        padding: 18px 150px 80px 18px;
        font-size: 15px;
        max-width: 750px;

        @media (max-width: 1140px) {
            max-width: 650px;
        }

        @media (max-width: 850px) {
            font-size: 14px;
            max-width: 550px;
        }

        @media (max-width: 820px) {
            width: 490px;
        }

        @media (max-width: 650px) {
            width: 350px;
        }

        @media (max-width: 500px) {
            padding: 18px 70px 40px 18px;
            width: 90%;
        }

    }

    &__modalSend {
        margin: 0 auto;
        border: none;
        padding: 11px 19px;
        border-radius: 6px;
        font-family: Montserrat;
        font-size: 20px;
        margin-bottom: 7px;
        cursor: pointer;

        @media (max-width: 500px) {
            padding: 9px 10px;
            font-size: 17px;
        }
    }
}