@font-face{
  font-family: Montserrat;
  src: url('../../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face{
  font-family: Montserrat;
  src: url('../../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face{
  font-family: Montserrat;
  src: url('../../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face{
  font-family: Montserrat;
  src: url('../../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  height: 100%;
  max-width: 1368px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  @media (max-width: 410px){
    padding-left: 30px;
    padding-right: 30px;
  }
}

body{
  margin: 0 auto;
  &::-webkit-scrollbar {
    background: #303030;
    width: 8px; 
  }
  &::-webkit-scrollbar-track {

    background: none;
    border-radius: 10px; 
  }

  &::-webkit-scrollbar-thumb {
    width: 3px;
    background: #b4b4b4;
    border-radius: 15px; 

  }
  
  &::-webkit-scrollbar-thumb:hover {
    transition: all .3s ease;
    background: #818181; 
  }
}
.main{
  background: url(../../../public/background.jpg) no-repeat center  / cover;
  background-color: rgba(0, 0, 0, 0.25);
  height: 957px;
  font-family:Montserrat;
  font-weight: 800;
  width: 100%;
  @media (max-width: 1150px){
    height: calc(920px - 4.5vh);
  }
  
  &__title {
    padding-top: 28%;
    font-weight: 500;
    color: #fff;
    font-size: 45px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 0px 12px #000000;
    overflow: hidden; 
    align-items: center;


    animation: show_text 1.5s;
    @keyframes show_text {
      from{
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @media (max-width: 1080px ) {
      font-size: 33px;
    }
    @media (max-width: 945px) {
      font-size: 30px;
    }
    @media (max-width: 810px){
      font-size: 27px;
      width: 500px; 
    }
    @media (max-width: 560px){
      font-size: 23px;
      max-width: 400px;
    }
    @media (max-width: 450px){
      font-size: 19px;
      max-width: 350px;
    }
    @media (max-width: 410px){
      font-size: 17px;
      max-width: 320px;
    }
    @media (max-width: 350px){
      font-size: 16px;
      max-width: 250px;
    }
  }
}

iframe{
  @media (max-width: 560px){
    width: 75%;
    height: 400px;
  }
  @media (max-width: 440px) {
    width:75%;
    height: 400px;
  }
  @media (max-width: 350px) {
    width:55%;
    height: 350px;
  }
}

.second{
  margin: 0 auto;
  font-family:Montserrat;
  border-radius: 10px;
  &__wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    // &.visiable{
    //   opacity: 1;
    //   transform: translateY(0);
    // }
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  &__map{
    min-width: 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    @media (max-width: 1150px){
      margin-top: -100px;
      min-width: 350px;
      height: 800px;
    }
    @media (max-width: 1000px) {
      width: 100%;
      height: 400px;
    }
    @media (max-width: 510px) {
      width: 50%;
      height: 400px;
    }
    @media (max-width: 440px) {
      width: 20%;
      height: 400px;
    }
  }
  &__title{
    padding-top: 65px;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-top: 130px ;
    margin-bottom: 80px;
    @media (max-width: 1300px) {
      font-size: 33px;
    }
    @media (max-width: 1250px) {
      margin-bottom: 50px;
    }
    @media (max-width: 720px){
      font-size: 30px;
    }
    @media (max-width: 560px){
      font-size: 28px;
    }
    @media (max-width: 545px){
      font-size: 29px;
    }
    @media (max-width: 470px){
      font-size: 22.5px;
    }
    @media (max-width: 380px){
      font-size: 20px;
      margin-top: 50px;
    }
  }
  &__text{
    @media (max-width: 520px){
      max-width: 500px;
    }
  }
  &__subtitle_one{
    margin-top: 15%;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-bottom: 50px;
    width: 800px;
    &:hover{
      transition: all .3s ease;
      transform: scale(1.02);
    }
    @media (max-width: 1365px) {
      width: unset;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 720px){
      font-size: 16px;
    }
    @media (max-width: 560px){
      font-size: 14px;
    }
    @media (max-width: 380px){
      font-size: 10px;
      max-width: 400px;
      margin-top: 5%;
    }
  }
  &__subtitle_two{
    font-weight: 500;
    font-size: 20px;
    width: 1000px;
    text-align: left;
    margin-bottom: 125px;
    width: 800px;
    padding-bottom: 65px;
    &:hover{
      transition: all .3s ease;
      transform: scale(1.02);
    }
    @media (max-width: 1365px) {
      width: unset;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 560px){
      font-size: 14px;
    }
    @media (max-width: 380px){
      font-size: 10px;
      max-width: 400px;
      margin-top: 5%;
    }
  }
}


.third{
  margin: 0 auto;
  font-family:Montserrat;
  &__title{
    padding-top: 100px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;

    @media (max-width: 1300px) {
      font-size: 33px;
    }
    @media (max-width: 1250px) {
      margin-bottom: 50px;
    }
    @media (max-width: 850px){
      font-size: 29px;
    }
    @media (max-width: 560px){
      font-size: 25.5px;
    }
    @media (max-width: 545px){
      font-size: 24px;
    }
    @media (max-width: 470px){
      font-size: 22.5px;
    }
    @media (max-width: 380px){
      font-size: 20px;
    }
  }
  &__cardWrapper{
    margin-top: 125px;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  &__slider{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    &.visiable{
      opacity: 1;
      transform: translateY(0);
    }
    @media (max-width: 350px){
      gap: 7px;
    }
  }

  
  &__sliderBtn{
    user-select: none;
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    &:hover{
      background-color: rgba(0, 0, 0, 0.2);
    }
    @media (max-width: 430px){
      font-size: 18px;
      padding: 7px;
    }

  }


  &__cardImg{
    @media (max-width: 800px){
      width: 300px;
    }
    @media (max-width: 700px){
      width: 260px;
    }
    @media (max-width: 630px){
      width: 220px;
    }
    @media (max-width: 430px){
      width: 195px;
    }

  }

  &__cardLink{
    &:hover{
      transition: all .3s ease;
      transform: scale(1.02);
    }
  }

  &__btn{
    background-color: #3C96EA;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    border-radius: 9px;
    padding: 10px;
    align-items: center;
    display: flex;
    margin: 40px auto;
    max-width: 150px;

    &:hover{
      transition: all .3s ease;
      transform: scale(1.03);
    }
    @media (max-width: 750px){
      padding: 10px;
      font-size: 18px;
    }
    @media (max-width: 430px){
      padding: 7px;
      font-size: 16px;
      width: 110px;
    }
  }
}